{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel='stylesheet' href='spectrum.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
 

	<style type="text/css">
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}
    .eraser{
      position: absolute;
      left: 5px;
      top: 110px;
    }
    .bucket{
      position: relative;
      top: 10px;
    }

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
    
    #addColor {
      position: absolute;
      right: 20px;
      top: 100px;
    }
    
    .right-align{
      position: absolute;
      right: 3px;
      top: 100px;
    }
    
    .btn-position{
      position: relative;
      left: 12px;
      padding: 3px;
    }
    
    .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    line-height: 1.33;
    outline-width: thin;
    outline-style: solid;
    border:  black;
    }
    
    .btn-one{
      position: relative;
      
    }
    
    .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
  }
    .pb1{
      background-color: white;
    }
    
    .pb2{
      background-color: white;
    }
    
    .pb3{
      background-color: white;
    }
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');
    const modalAddBtn = $('.btn-success');
    const palBtn1 = $('.pb1');
    const palBtn2 = $('.pb2');
    const palBtn3 = $('.pb3');
    let lastFilled = 'palBtn3';
    var activeColor;
  palBtn1.on('click', () =>{
    palBtn2.css("outline-width", "thin");
    palBtn3.css("outline-width", "thin");
    palBtn1.css("outline-width", "thick");
    activeColor = palBtn1.css("background-color");
    console.log(activeColor);
  })
  
  palBtn2.on('click', () =>{
    palBtn1.css("outline-width", "thin");
    palBtn3.css("outline-width", "thin");
    palBtn2.css("outline-width", "thick");
    activeColor = palBtn2.css("background-color");
     console.log(activeColor);
  })
  
  palBtn3.on('click', () =>{
    palBtn1.css("outline-width", "thin");
    palBtn2.css("outline-width", "thin");
    palBtn3.css("outline-width", "thick");
    activeColor = palBtn3.css("background-color");
    console.log(activeColor);
  })
  
  modalAddBtn.on('click', ()=>{
    let color = $("#colorPicker").val();
    if(lastFilled === 'palBtn3'){
      let color = $("#colorPicker").val();
      palBtn1.css("background-color", color);
      lastFilled = 'palBtn1';
    } else if(lastFilled === 'palBtn1'){
      let color = $("#colorPicker").val();
      palBtn2.css("background-color", color);
      lastFilled = 'palBtn2';
    }else if(lastFilled === 'palBtn2'){
      let color = $("#colorPicker").val();
      palBtn3.css("background-color", color);
      lastFilled = 'palBtn3';
    }
  })

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};	

			// color palette
			var cp = {
				history: [], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myCustomInteraction() {
				var tool = new paper.Tool();
       

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				        hit.item.fillColor = activeColor;
				    }
				}
			}


			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', 
     function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();
        

				paper.project.importSVG(mandala.filePath, function(item) { 
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    
				    	myCustomInteraction();	
				   
					
				}); 
			}
      

			// To see your myGradientInteraction version visit: 
			// http://<your url>:8000/coloring/?type=gradient
			// To see your myCustomInteraction version visit: 
			// http://<your url>:8000/coloring/
			var url = window.location.href;
			if (url.indexOf("gradient") > -1) {
				init(false);
			} else {
				init(true);
			}
		}
	</script>
</head>
<body>	

	<canvas id="myCanvas" width="750px" height="750px"></canvas>
  
  <div class='eraser'>
    <img src="https://image.flaticon.com/icons/svg/1955/1955656.svg" style="width:50px;">
     <div class='bucket'>
      <img src="https://image.flaticon.com/icons/svg/206/206075.svg" style="width:50px;">
      </div>
   </div>
 
	  
  
  <div class="right-align">
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">
      +Add Color
    </button>
    <div class="btn-position">
      <button type="button" class="pb1 btn btn-default btn-circle btn-xl b1"> 
        color 1
      </button>
    </div>
    
    <div class="btn-position">
      <button type="button" class="pb2 btn btn-default btn-circle btn-xl b2"> 
        color 2
      </button>
    </div>
    
    <div class="btn-position">
      <button type="button" class="pb3 btn btn-default btn-circle btn-xl b3"> 
        color 3
      </button>
    </div>
  </div>
  
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Color Selector</h4>
      </div>
      <div class="modal-body">
          Click box to open color picker:
         <input id="colorPicker" type="color" name="favcolor" value="#ff0000">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">
          +Add Color To Palette
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
  
  
    
  
 
</body>
</html>

<script>
  /*
  const modalAddBtn = $('.btn-success');
  const palBtn1 = $('.pb1');
  const palBtn2 = $('.pb2');
  const palBtn3 = $('.pb3');
  let lastFilled = 'palBtn3';
  var activeColor;
  /*var canvas = document.getElementById('myCanvas');
 			// coloring page
	var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};	
  function init(){
      paper.setup(canvas);
      getColorsCreatePalette();
      paper.project.importSVG(mandala.filePath, function(item) { 
        mandala.item = item._children["design-freepik"];
        paper.project.insertLayer(0,mandala.item);
				}
			}); 

  var tool = new paper.Tool();
 			tool.onMouseDown = function (event) {
		    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
		    if (hit) {
				  hit.item.fillColor = activeColor
				}
  
 
  
  palBtn1.on('click', () =>{
    palBtn2.css("outline-width", "thin");
    palBtn3.css("outline-width", "thin");
    palBtn1.css("outline-width", "thick");
    activeColor = palBtn1.css("background-color");
    console.log(activeColor);
  })
  
  palBtn2.on('click', () =>{
    palBtn1.css("outline-width", "thin");
    palBtn3.css("outline-width", "thin");
    palBtn2.css("outline-width", "thick");
    activeColor = palBtn2.css("background-color");
     console.log(activeColor);
  })
  
  palBtn3.on('click', () =>{
    palBtn1.css("outline-width", "thin");
    palBtn2.css("outline-width", "thin");
    palBtn3.css("outline-width", "thick");
    activeColor = palBtn3.css("background-color");
    console.log(activeColor);
  })
  
  modalAddBtn.on('click', ()=>{
    let color = $("#colorPicker").val();
    if(lastFilled === 'palBtn3'){
      let color = $("#colorPicker").val();
      palBtn1.css("background-color", color);
      lastFilled = 'palBtn1';
    } else if(lastFilled === 'palBtn1'){
      let color = $("#colorPicker").val();
      palBtn2.css("background-color", color);
      lastFilled = 'palBtn2';
    }else if(lastFilled === 'palBtn2'){
      let color = $("#colorPicker").val();
      palBtn3.css("background-color", color);
      lastFilled = 'palBtn3';
    }
  })
   */
</script>
